/* Hero Image Section */
.about-us-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.overlay-text {
    position: absolute;
    top: 40%;
    left: 32%;
    transform: translate(-50%, -50%);
    color: var(--dark-font-color);
    text-align: left;
    padding: 90px;
    border-radius: 10px;
    padding-top: 300px;
    z-index: 1;
}

.overlay-text h1 {
    font-size: 76px;
    margin: 0;
}

.overlay-text p {
    font-size: 22px;
    margin-top: 10px;
}

/* Flex Container Styling */
.flex-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.flex-item {
    text-align: center;
}

.flex-item span {
    display: block;
    font-weight: bold; /* Make text bold */
}

.flex-item span:last-child {
    font-weight: normal; /* Remove bold for the contact details and link */
}

.line {
    height: 50px; /* Adjust height as needed */
    width: 2px;
    background-color: var(--dark-font-color);
}

/* Vision Section */
.vision-section {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 40px;
    gap: 20px;
    background-color: var(--light-bg-font-color);
    width: 100%;
    height: 1000px;
    overflow: hidden;
}

.vision-image {
    flex: 1;
    background-size: cover;
    height: 1000px;
    width: 50%;
}

.vision-text {
    position: absolute;
    top: 100px;
    right: 105px;
    flex: 1 1;
    padding: 28px;
    background-color: #f8f8f8;
    border-radius: 10px;
    z-index: 1;
    text-align: left;
    width: 40%;
    height: 700px;
}

.vision-text h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #1B3C74;
}

.vision-text h3 {
    font-size: 1rem;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #1B3C74;
    display: flex;
    align-items: center;
    gap: 10px;
}

.vision-text h3 svg {
    width: 24px;
    height: 24px;
    fill: #1B3C74;
}

.vision-text p {
    font-size: 1rem;
    line-height: 1.5;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .overlay-text {
        top: 30%;
        left: 50%;
        transform: translate(-50%, -30%);
        padding: 60px;
    }

    .overlay-text h1 {
        font-size: 60px;
    }

    .overlay-text p {
        font-size: 18px;
    }

    .vision-section {
        padding-left: 20px;
        flex-direction: column;
    }

    .vision-image {
        width: 100%;
        height: 50%;
    }

    .vision-text {
        position: static;
        width: 100%;
        height: auto;
        padding: 20px;
    }
}

@media (max-width: 768px) {
    .overlay-text {
        top: 20%;
        left: 50%;
        transform: translate(-50%, -20%);
        padding: 30px;
    }

    .overlay-text h1 {
        font-size: 40px;
    }

    .overlay-text p {
        font-size: 16px;
    }

    /* .flex-container {
        flex-direction: column;
    }

    .line {
        width: 80%;
        height: 1px;
        margin: 20px 0;
    } */

    .vision-section {
        padding-left: 10px;
        height: auto;
        flex-direction: column;
    }

    .vision-image {
        height: 40%;
    }

    .vision-text {
        width: 100%;
        height: auto;
        padding: 15px;
        text-align: center;
    }

    .vision-text h2 {
        font-size: 1.5rem;
    }

    .vision-text h3 {
        font-size: 0.9rem;
    }

    .vision-text p {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
 
        .overlay-text {
            top: 31%;
            /* left: 50%; */
            transform: translate(-50%, -15%);
            padding: 20px;
            width: 100%;
        }
    

    .overlay-text h1 {
        font-size: 30px;
    }

    .overlay-text p {
        font-size: 14px;
    }

    .flex-item span {
        font-size: 14px;
    }

    .vision-section {
        padding-left: 0;
        height: auto;
    }

    .vision-image {
        height: 40%;
    }

    .vision-text {
        width: 100%;
        padding: 10px;
        text-align: center;
    }

    .vision-text h2 {
        font-size: 1.2rem;
    }

    .vision-text h3 {
        font-size: 0.8rem;
    }

    .vision-text p {
        font-size: 0.8rem;
    }
}
