.neonatal-container {
    background-image: url('C:/Users/acoly/OneDrive/Desktop/projects/sloane/Sloane-Virtual-Hospital/src/img/background_02 (1).jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    height: 100vh;
  }
  
  .flex-box {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .box1, .box2 {
    flex: 1;
    padding: 37px;
   
    border-radius: 10px;
   
  }
  
  .box1 h2 {
    color: white;
    margin-bottom: 10px;
    font-size: 3.75rem;
    line-height: 1.066;
}
  
  
  .box1 p {
    color: white;
    line-height: 1.6;
  }
  