/* Container Styling */
.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 90px;
    padding-top: 162px;
    gap: 20px;
    background-color: #eaf3f9;
    max-width: 100%;
  }
  
 
  .left-section {
    flex: 1;
    max-width: 60%;
  }
  
  .left-section h1 {
    font-size: 3.75rem;
    line-height: 1.066;
    margin-bottom: 10px;
    color: #3a6ea1;
  }
  
  .left-section h1 .highlight {
    color: #f46d67;
  }
  
  .left-section h2 {
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    color: #3a6ea1;
  }
  
  .left-section p {
    font-size: 1.375rem;
    margin-top: .7em;
    line-height: 1.4;
    color: #3a6ea1;
    margin-bottom: 50px;
}

  .info-row {
    display: flex;
    /* justify-content: space-evenly; */
    gap:70px;
    margin-bottom: 20px;
  }
  
  .info-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    max-width: 25%;
  }
  .info-item p{
    font-size: 15px;
    /* font-weight: 700 */
  }
  
  .icon {
    font-size: 2rem;
    color: #f46d67;
    margin-bottom: .5em;
  }
  

  .flex-container {
    display: flex;
    align-items: center;
    /* gap: 20px; */
    justify-content: center;
    margin-right: 140px;
}
  
  .flex-item {
    text-align: center;
  }
  
  .bold-text {
    font-weight: bold;
    color: #3a6ea1;
    
  }
  
  .line {
    height: 50px;
    width: 2px;
    background-color: #3a6ea1;
  }
  

  .right-section {
    flex: 1;
    max-width: 40%;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .right-section h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #3a6ea1;
  }
  
  .right-section form {
    display: flex;
    flex-direction: column;
  }
  
  .right-section label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #3a6ea1;
  }
  
  .right-section input,
  .right-section textarea {
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .right-section button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .right-section button:hover {
    background-color: #0056b3;
  }
  

  @media (max-width: 768px) {
    .contact-container {
      flex-direction: column;
    }
  
    .left-section,
    .right-section {
      max-width: 100%;
    }
  
    .right-section {
      margin-top: 20px;
    }
  
    .info-row {
      flex-direction: column;
      align-items: center;
    }
  
    .flex-container {
      flex-direction: column;
      align-items: center;
    }
  
    .line {
      display: none;
    }
  }
  